body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: left; 
  animation: fadeIn 2s ease-in-out;
}


.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  animation: slideIn 1.5s ease-in-out;
}


header {
  background-color: #0D47A1;
  padding: 20px 0;
  text-align: left; 
  border-bottom: 4px solid #BBDEFB;
}

header h1 {
  font-size: 2.5em;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
 
}


main {
  padding: 40px 0;
}

h1 {
  font-size: 2.5em;
  color: #1976D2;
  margin-bottom: 20px;
 }

h3 {
  color: #42A5F5;
  font-size: 1.6em;
  margin-top: 20px;
  
}

ol, ul {
  color: #B0BEC5;
  margin-left: 40px;
  opacity: 0;
  animation: fadeInList 1s ease-in-out forwards;
}

li {
  margin: 15px 0;
  padding: 8px 0;
  transition: transform 0.3s ease, color 0.3s ease;
}

li:hover {
  transform: scale(1.05);
  color: #00BCD4;
}

li:nth-child(odd) {
  animation-delay: 0.5s;
}

li:nth-child(even) {
  animation-delay: 0.8s;
}


p {
  color: #CFD8DC;
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: left; 
}

a {
  color: #1976D2;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #cdbb1c;
  text-decoration: underline;
  transition: color 0.3s ease;
}


footer {
  background-color: #373839;
  color: #78909C;
  text-align: left; 
  padding: 20px 0;
  margin-top: 40px;
  font-size: 1em;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes colorChange {
  0% {
    color: #1976D2;
  }
  50% {
    color: #BBDEFB;
  }
  100% {
    color: #1976D2;
  }
}

@keyframes fadeInList {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  footer {
    font-size: 0.9em;
  }
}

